nav.nav
    ul.nav__list
        li
            a(href="#") О компании
        li
            a(href="#") Наша миссия
        li._parent
            a(href="#") Продукция и услуги

            ul.nav__list
                li
                    a(href="#") Дизайн
                li._parent
                    a(href="#") Лазерная обработка

                    ul.nav__list
                        li
                            a(href="#") Бланки
                        li
                            a(href="#") Буклеты

                li._parent
                    a(href="#") Полиграфия

                    ul.nav__list
                        li
                            a(href="#") Бланки
                        li
                            a(href="#") Буклеты
                        li
                            a(href="#") Визитки
                        li
                            a(href="#") Календари
                        li
                            a(href="#") Конверты
                        li
                            a(href="#") Листовки
                        li
                            a(href="#") Наклейки
                        li
                            a(href="#") Папки флаеры
                li
                    a(href="#") Сувенирная продукция
                li
                    a(href="#") Цены

        li
            a(href="#") Технические требования
        li
            a(href="#") Оборудование
        li
            a(href="#") Заказчику
        li
            a(href="#") Эко-печать
        li
            a(href="#") Гербарий
        li
            a(href="#") Контакты

    .nav__bg._first
    .nav__bg._second
    .nav__bg._third
    button.nav__close(type="button")