.services__item
    button.services__button(type="button")
        strong
            span 01
            | Дизайн
    .services__content
        button.services__button._hidden(type="mobile")
            strong
                span 00
        ul.services__list
            li
                a(href="#") Буквы, цифры, символы для рекламы
            li
                a(href="#") Вырезка сложноконтурных изделий
            li
                a(href="#") Лазерная гравировка сувениров
            li
                a(href="#") Маркировка промышленных изделий
            li
                a(href="#") Наградная продукция

.services__item
    button.services__button(type="button")
        strong
            span 02
            | Лазерная обработка
    .services__content
        button.services__button._hidden(type="mobile")
            strong
                span 00
        ul.services__list
            li
                a(href="#") Буквы, цифры, символы для рекламы
            li
                a(href="#") Вырезка сложноконтурных изделий
            li
                a(href="#") Лазерная гравировка сувениров
            li
                a(href="#") Маркировка промышленных изделий
            li
                a(href="#") Наградная продукция

.services__item
    button.services__button(type="button")
        strong
            span 03
            | Полиграфия
    .services__content
        button.services__button._hidden(type="mobile")
            strong
                span 00
        ul.services__list
            li
                a(href="#") Буквы, цифры, символы для рекламы
            li
                a(href="#") Вырезка сложноконтурных изделий
            li
                a(href="#") Лазерная гравировка сувениров
            li
                a(href="#") Маркировка промышленных изделий
            li
                a(href="#") Наградная продукция

.services__item
    button.services__button(type="button")
        strong
            span 04
            | Сувенирная продукция
    .services__content
        button.services__button._hidden(type="mobile")
            strong
                span 00
        ul.services__list
            li
                a(href="#") Буквы, цифры, символы для рекламы
            li
                a(href="#") Вырезка сложноконтурных изделий
            li
                a(href="#") Лазерная гравировка сувениров
            li
                a(href="#") Маркировка промышленных изделий
            li
                a(href="#") Наградная продукция