doctype html
html(lang="ru")
    head
        - var seo = {title: 'Права заказчика', description: 'Описание страницы права заказчика', keywords: 'Ключи страницы права заказчика'}
        include includes/_meta.pug
    body
        include includes/_header.pug

        include includes/_nav.pug

        main.main._shadow
            .container
                .main__head
                    ul.breadcrumbs._p0
                        li
                            a(href="#") Главная
                        li Права заказчика

                    h1.h1.section__title <span>Права</span> заказчика

                .laser-processing__pluses._mt0
                    p.laser-processing__title Каждый заказчик имеет право:
                    ul.laser-processing__list._border
                        li <span>01</span> Каждый заказчик имеет право на улыбку.
                        li <span>02</span> Каждый заказчик имеет право на выражение признательности за его приход.
                        li <span>03</span> Каждый заказчик имеет право на искренне приветствие.
                        li <span>04</span> Каждый заказчик имеет право на сотрудников, которые готовы и имеют желание обслужить его.
                        li <span>05</span> Каждый заказчик имеет право на быстрое и наиболее эффективное обслуживание.
                        li <span>06</span> Каждый заказчик имеет право на правильное и полное принятие заказа.
                        li <span>07</span> Каждый заказчик имеет право на преимущества наших знаний и опыта.
                        li <span>08</span> Каждый заказчик имеет право знать о наших дополнительных услугах.
                        li <span>09</span> Каждый заказчик имеет право на чистый, хорошо организованный офис и профессиональный персонал.
                        li <span>10</span> Каждый заказчик имеет право на выбор 2 вариантов времени доставки или времени когда можно забрать свой заказ.
                        li <span>11</span> Каждый заказчик имеет право на хранение своего исходного макета в типографии.
                        li <span>12</span> Каждый заказчик имеет право на исполнение заказа в необходимый срок.
                        li <span>13</span> Каждый заказчик имеет право на качественный продукт по разумной цене, делая акцент на качестве.
                        li <span>14</span> Каждый заказчик имеет право на комплимент в отношении выполненного заказа.
                        li <span>15</span> Каждый заказчик имеет право на «спасибо».

        .blockquote
            .container
                .blockquote__text <span>“</span> В основе успеха нашего бизнеса лежит четкое понимание того факта, что наш успех зависит на 100% от успеха нашего клиента

        include includes/_footer.pug

        include includes/_modal.pug

        include includes/_scripts.pug