doctype html
html(lang="ru")
    head
        - var seo = {title: 'Лазерная обработка', description: 'Описание страницы лазерная обработка', keywords: 'Ключи страницы лазерная обработка'}
        include includes/_meta.pug
    body
        include includes/_header.pug

        include includes/_nav.pug

        main.main.laser-processing
            .container
                .main__head
                    ul.breadcrumbs._p0
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Продукция и услуги
                        li Лазерная обработка

                    h1.h1.section__title <span>Лазерная</span> обработка

                .main__cols
                    .main__col.laser-processing
                        .design__items
                            .design__block.laser-processing__block
                                a.design__item(href="#") Буквы, цифры, символы для рекламы
                                span.design__attention i
                                picture.design__modal.laser-processing__modal
                                    source(type="image/webp" srcset="img/tmp/design-modal@2x.webp 2x, img/tmp/design-modal.webp 1x")
                                    source(type="image/jpeg" srcset="img/tmp/design-modal@2x.jpg 2x, img/tmp/design-modal.jpg 1x")
                                    img(src="img/tmp/design-modal.jpg" alt="")

                            .design__block.laser-processing__block
                                a.design__item(href="#") Вырезка сложноконтурных изделий
                                span.design__attention i
                                picture.design__modal.laser-processing__modal
                                    source(type="image/webp" srcset="img/tmp/design-modal@2x.webp 2x, img/tmp/design-modal.webp 1x")
                                    source(type="image/jpeg" srcset="img/tmp/design-modal@2x.jpg 2x, img/tmp/design-modal.jpg 1x")
                                    img(src="img/tmp/design-modal.jpg" alt="")

                            .design__block.laser-processing__block
                                a.design__item(href="#") Лазерная гравировка сувениров
                                span.design__attention i
                                picture.design__modal.laser-processing__modal
                                    source(type="image/webp" srcset="img/tmp/design-modal@2x.webp 2x, img/tmp/design-modal.webp 1x")
                                    source(type="image/jpeg" srcset="img/tmp/design-modal@2x.jpg 2x, img/tmp/design-modal.jpg 1x")
                                    img(src="img/tmp/design-modal.jpg" alt="")

                            .design__block.laser-processing__block
                                a.design__item(href="#") Маркировка промышленных изделий
                                span.design__attention i
                                picture.design__modal.laser-processing__modal
                                    source(type="image/webp" srcset="img/tmp/design-modal@2x.webp 2x, img/tmp/design-modal.webp 1x")
                                    source(type="image/jpeg" srcset="img/tmp/design-modal@2x.jpg 2x, img/tmp/design-modal.jpg 1x")
                                    img(src="img/tmp/design-modal.jpg" alt="")

                            .design__block.laser-processing__block
                                a.design__item(href="#") Наградная продукция
                                span.design__attention i
                                picture.design__modal.laser-processing__modal
                                    source(type="image/webp" srcset="img/tmp/design-modal@2x.webp 2x, img/tmp/design-modal.webp 1x")
                                    source(type="image/jpeg" srcset="img/tmp/design-modal@2x.jpg 2x, img/tmp/design-modal.jpg 1x")
                                    img(src="img/tmp/design-modal.jpg" alt="")

                        .text
                            p Лазерная обработка осуществляется с помощью газового лазера <a href="#">Troteck</a>.
                            p Данное обрудование позволяет гравировать и осуществлять фигурную резку различных материалов с высокой точностью в соответствии с замыслом дизайнера.
                            p Обрабатываемые материалы:
                            p Металлические поверхности, пластики, резина, древесные материалы, акрил, оргстекло, стекло, кожа.
                            p Лазерная гравировка — это особая технология нанесения изображений непосредственным воздействием лазерного излучения. Её отличает высокое разрешение и качество, неповторимый вид, а главное — исключительная стойкость получаемых изображений, недоступная другим способам печати.
                            p С помощью лазерного луча с поверхности удаляется небольшой слой материала, что приводит к образованию рельефного изображения. При меньших мощностях можно получить либо изменение цвета поверхности, либо её структуры.
                            p Уникальное оборудование для лазерной гравировки позволяет наносить любые текстовые и графические изображения на разнообразные материалы и готовые изделия, не требуя их предварительной разборки или подготовки, производить лазерную гравировку <a href="#">сувениров</a>, маркировку <a href="#">промышленных изделий</a>, вырезку <a href="#">сложноконтурных изделий</a>.
                            p Лазерная резка — это передовая технология размерного раскроя листовых материалов: металла, пластика, оргстекла, кожи, дерева, бумаг и других неметаллов. Это современный способ раскроя различных материалов для изготовления рекламной продукции. Лазерная резка открывает неограниченные возможности для изготовления изделий сложных форм, в том числе эксклюзивного дизайна.
                            p Сфокусированный лазерный луч регулируемой мощности — идеальный инструмент, который обеспечивает качественную гладкую поверхность кромки реза и исключает необходимость последующей её обработки.
                            p._visible-mobile Из-за высокой концентрации энергии лазерная резка позволяет обрабатывать практически любые материалы с шероховатостью порядка 0.25 мкм. А главное: при лазерной резке отсутствует механическое воздействие на обрабатываемый материал.

                        .laser-processing__pluses
                            p.laser-processing__title Преимущества лазерной обработки:
                            ul.laser-processing__list
                                li <span>01</span> профиль реза очень ровный и не требует дополнительной обработки;
                                li <span>02</span> высокая скорость раскроя;
                                li <span>03</span> резка сложных рисунков небольших размеров;
                                li <span>04</span> резка единичных экземпляров.

                        button.button.about-page__button(type="button" data-hystmodal="#modal-order")
                            span Связаться с нами
                            svg(width="329" height="86" viewBox="0 0 329 86" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M327.67 43.5C327.67 45.9306 326.595 48.3445 324.466 50.7241C322.334 53.1067 319.166 55.429 315.045 57.6569C306.803 62.1123 294.844 66.1404 280.024 69.5291C250.393 76.3047 209.432 80.5 164.17 80.5C118.909 80.5 77.9482 76.3047 48.3163 69.5291C33.4964 66.1404 21.5377 62.1123 13.2961 57.6569C9.17504 55.429 6.00712 53.1067 3.8749 50.7241C1.74537 48.3445 0.67041 45.9306 0.67041 43.5C0.67041 41.0694 1.74537 38.6555 3.8749 36.2759C6.00712 33.8933 9.17504 31.571 13.2961 29.3431C21.5377 24.8877 33.4964 20.8596 48.3163 17.4709C77.9482 10.6953 118.909 6.5 164.17 6.5C209.432 6.5 250.393 10.6953 280.024 17.4709C294.844 20.8596 306.803 24.8877 315.045 29.3431C319.166 31.571 322.334 33.8933 324.466 36.2759C326.595 38.6555 327.67 41.0694 327.67 43.5Z" stroke="#8A1002")
                                path(d="M325.915 23.213C326.219 25.6534 325.455 28.2073 323.643 30.8543C321.829 33.5047 318.982 36.2215 315.181 38.9605C307.577 44.4382 296.241 49.9437 281.991 55.1596C253.501 65.5885 213.472 74.8213 168.662 80.3762C123.851 85.9311 82.7757 86.7526 52.5942 83.597C37.4995 82.0188 25.1578 79.4485 16.443 75.9937C12.0854 74.2662 8.65927 72.3271 6.2508 70.2001C3.84547 68.0758 2.47821 65.7862 2.17452 63.3459C1.87083 60.9056 2.63533 58.3517 4.44689 55.7046C6.26082 53.0542 9.1075 50.3375 12.9093 47.5985C20.5125 42.1208 31.8491 36.6152 46.0984 31.3993C74.5893 20.9704 114.618 11.7376 159.428 6.1827C204.239 0.62777 245.314 -0.193641 275.496 2.96191C290.59 4.54011 302.932 7.11036 311.647 10.5652C316.005 12.2927 319.431 14.2318 321.839 16.3588C324.244 18.4831 325.612 20.7727 325.915 23.213Z" stroke="#8A1002")

                    .main__col.text._img
                        p
                            picture
                                source(type="image/webp" srcset="img/tmp/laser-processing@2x.webp 2x, img/tmp/laser-processing.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/laser-processing@2x.jpg 2x, img/tmp/laser-processing.jpg 1x")
                                img.main__img(src="img/tmp/laser-processing.jpg" alt="")

                        p._hidden-mobile Из-за высокой концентрации энергии лазерная резка позволяет обрабатывать практически любые материалы с шероховатостью порядка 0.25 мкм. А главное: при лазерной резке отсутствует механическое воздействие на обрабатываемый материал.

        include includes/_footer.pug

        include includes/_modal.pug

        include includes/_scripts.pug