doctype html
html(lang="ru")
    head
        - var seo = {title: 'Организационные правила', description: 'Описание страницы организационные правила', keywords: 'Ключи страницы организационные правила'}
        include includes/_meta.pug
    body
        include includes/_header.pug

        include includes/_nav.pug

        main.main.rules
            .container
                .main__head
                    ul.breadcrumbs._p0
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Продукция и услуги
                        li
                            a(href="#") Дизайн
                        li Организационные правила

                    h1.h1.section__title <span>Организационные</span> правила

                .main__cols.rules__cols
                    .main__col.text.rules__col._text
                        p
                            strong Правила по изготовлению и утверждению макетов
                        p Уважаемый заказчик, учитывая особенности современного бизнеса, время остающееся на производство, обилие дизайнеров-домушников, харизматичность инвесторов, индифферентность менеджеров и другие, далеко не форс-мажорные факторы, хочется радоваться готовому продукту уже только потому, что он готов!
                        p Тем не менее, конечному потребителю (как ни странно) очень хочется получить качественный продукт. Именно поэтому, пожалуйста ознакомьтесь с нижеизложенными правилами дабы избежать неприятных сюрпризов:
                        p 1. Дизайн отдается в производство только в случае, если на распечатке дизайна (далее — макете) присутствует подпись заказчика.
                        p 1.1 Заказчик ставит подпись на макете только после тщательной проверки.
                        p 1.2 Пописанный экземпляр макета хранится в архиве Motin Production и является эталоном.
                        p 1.3 Макет, отпечатанный на принтере не может, являться эталоном цвета (цветопробой). Если заказчику необходимо идеальное цветовое соответствие тиража, он может заказать специальную цветопробу (за отдельную плату, или по договоренности).
                        p 1.4 Подписанный макет (или подписанная цветопроба) является единственным документом, подтверждающим, что заказчик целиком и полностью удовлетворен готовым дизайном.
                        p 1.5 Именно заказчик, а не дизайнеры, самостоятельно в проверяет эталон, в т.ч. сверяет наличие необходимых логотипов, отсутствие опечаток и т.д. дизайнер не является корректором и не является менеджером или юристом, а значит может проверить только художественные и технические, но никак не содержательные элементы дизайн-макета.
                        p 1.6 Мы тщательно следим за малейшими техническими и художественными помарками, но отслеживать опечатки и ошибки в текстах и надписях, или, например, правильность чужих логотипов — прерогатива заказчика, лучше знакомого с материалом.
                        p 2. Если уже после подписания макета заказчик решает внести новые изменения, то это можно безболезненно осуществить лишь в случае, если дизайн еще не отправлен в тираж.
                        p 2.1 В случае возникновения дополнений и исправлений после подписания макета, обязательна распечатка и подпись нового, исправленного макета.
                        p 2.2 Если дизайн уже отправлен в тираж, но заказчик настаивает на новых изменениях/исправлениях, то ему придется оплатить стоимость предпечатных процедур (вывод пленок, изготовление форм и т.п.). Чтобы избежать подобных потерь будьте уверены в законченности того макета, который подписываете.
                        p 3. Если в готовом тираже заказчик находит опечатки или дефекты, вступает процедура сличения тиража с подписанным макетом.
                        p 3.1 Если опечатки и дефекты присутствовали в подписанном макете, это означает, что заказчик сам невнимательно проверил работу, и претензии по тиражу компанией Motin Production не принимаются.
                        p 3.2 Если опечатки и дефекты отсутствовали в макете, а значит, появились позже по вине Motin Production, претензии заказчика считаются справедливыми и исправляются за счет Motin Production.
                        p 4. Утверждая эталон рядом с подписью поставьте дату. Если распечаток много, то желательно подписать все.
                        p 5. Спешка и невнимательность, а так же ускорение производственных процессов как правило, сказываются на качестве продукта
                        p 6. Понимание необходимости и строгое выполнение вышеуказанных процедур значительно облегчает работу и жизнь как заказчика, так и исполнителя. Пренебрежение ими приводит к значительным финансовым потерям обеих сторон.
                        p 7. Все операции с эталоном необходимо проводить на голодный желудок, после прочтения мантр дабы не портить карму будущего продукта

                        button.button.about-page__button.rules__button(type="button" data-hystmodal="#modal-order")
                            span Связаться с нами
                            svg(width="329" height="86" viewBox="0 0 329 86" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M327.67 43.5C327.67 45.9306 326.595 48.3445 324.466 50.7241C322.334 53.1067 319.166 55.429 315.045 57.6569C306.803 62.1123 294.844 66.1404 280.024 69.5291C250.393 76.3047 209.432 80.5 164.17 80.5C118.909 80.5 77.9482 76.3047 48.3163 69.5291C33.4964 66.1404 21.5377 62.1123 13.2961 57.6569C9.17504 55.429 6.00712 53.1067 3.8749 50.7241C1.74537 48.3445 0.67041 45.9306 0.67041 43.5C0.67041 41.0694 1.74537 38.6555 3.8749 36.2759C6.00712 33.8933 9.17504 31.571 13.2961 29.3431C21.5377 24.8877 33.4964 20.8596 48.3163 17.4709C77.9482 10.6953 118.909 6.5 164.17 6.5C209.432 6.5 250.393 10.6953 280.024 17.4709C294.844 20.8596 306.803 24.8877 315.045 29.3431C319.166 31.571 322.334 33.8933 324.466 36.2759C326.595 38.6555 327.67 41.0694 327.67 43.5Z" stroke="#8A1002")
                                path(d="M325.915 23.213C326.219 25.6534 325.455 28.2073 323.643 30.8543C321.829 33.5047 318.982 36.2215 315.181 38.9605C307.577 44.4382 296.241 49.9437 281.991 55.1596C253.501 65.5885 213.472 74.8213 168.662 80.3762C123.851 85.9311 82.7757 86.7526 52.5942 83.597C37.4995 82.0188 25.1578 79.4485 16.443 75.9937C12.0854 74.2662 8.65927 72.3271 6.2508 70.2001C3.84547 68.0758 2.47821 65.7862 2.17452 63.3459C1.87083 60.9056 2.63533 58.3517 4.44689 55.7046C6.26082 53.0542 9.1075 50.3375 12.9093 47.5985C20.5125 42.1208 31.8491 36.6152 46.0984 31.3993C74.5893 20.9704 114.618 11.7376 159.428 6.1827C204.239 0.62777 245.314 -0.193641 275.496 2.96191C290.59 4.54011 302.932 7.11036 311.647 10.5652C316.005 12.2927 319.431 14.2318 321.839 16.3588C324.244 18.4831 325.612 20.7727 325.915 23.213Z" stroke="#8A1002")

                    .main__col.rules__col._form
                        form.form
                            .form__title Оставьте Ваши данные и мы с Вами свяжемся
                            fieldset.form__fieldset
                                input.form__input(type="text" name="firstname" placeholder="Ваше имя")
                            fieldset.form__fieldset
                                input.form__input(type="text" name="lastname" placeholder="Ваша фамилия")
                            fieldset.form__fieldset
                                input.form__input(type="tel" name="phone" placeholder="Ваш номер телефона")
                            fieldset.form__fieldset
                                textarea.form__textarea(name="message" placeholder="Сообщение")
                            fieldset.form__fieldset
                                .form__checkbox
                                    input(type="checkbox" name="policy" id="rules-policy" checked)
                                    label(for="rules-policy")
                                        span
                                        | Я согласен(на) на обработку персональных данных

                            .form__wrap-button
                                button.form__button.button(type="submit")
                                    span отправить
                                    svg(width="329" height="86" viewBox="0 0 329 86" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M327.67 43.5C327.67 45.9306 326.595 48.3445 324.466 50.7241C322.334 53.1067 319.166 55.429 315.045 57.6569C306.803 62.1123 294.844 66.1404 280.024 69.5291C250.393 76.3047 209.432 80.5 164.17 80.5C118.909 80.5 77.9482 76.3047 48.3163 69.5291C33.4964 66.1404 21.5377 62.1123 13.2961 57.6569C9.17504 55.429 6.00712 53.1067 3.8749 50.7241C1.74537 48.3445 0.67041 45.9306 0.67041 43.5C0.67041 41.0694 1.74537 38.6555 3.8749 36.2759C6.00712 33.8933 9.17504 31.571 13.2961 29.3431C21.5377 24.8877 33.4964 20.8596 48.3163 17.4709C77.9482 10.6953 118.909 6.5 164.17 6.5C209.432 6.5 250.393 10.6953 280.024 17.4709C294.844 20.8596 306.803 24.8877 315.045 29.3431C319.166 31.571 322.334 33.8933 324.466 36.2759C326.595 38.6555 327.67 41.0694 327.67 43.5Z" stroke="#8A1002")
                                        path(d="M325.915 23.213C326.219 25.6534 325.455 28.2073 323.643 30.8543C321.829 33.5047 318.982 36.2215 315.181 38.9605C307.577 44.4382 296.241 49.9437 281.991 55.1596C253.501 65.5885 213.472 74.8213 168.662 80.3762C123.851 85.9311 82.7757 86.7526 52.5942 83.597C37.4995 82.0188 25.1578 79.4485 16.443 75.9937C12.0854 74.2662 8.65927 72.3271 6.2508 70.2001C3.84547 68.0758 2.47821 65.7862 2.17452 63.3459C1.87083 60.9056 2.63533 58.3517 4.44689 55.7046C6.26082 53.0542 9.1075 50.3375 12.9093 47.5985C20.5125 42.1208 31.8491 36.6152 46.0984 31.3993C74.5893 20.9704 114.618 11.7376 159.428 6.1827C204.239 0.62777 245.314 -0.193641 275.496 2.96191C290.59 4.54011 302.932 7.11036 311.647 10.5652C316.005 12.2927 319.431 14.2318 321.839 16.3588C324.244 18.4831 325.612 20.7727 325.915 23.213Z" stroke="#8A1002")



        include includes/_footer.pug

        include includes/_modal.pug

        include includes/_scripts.pug