.footer {
	padding: 100px 0;
	background: $color_lightBlack;
	color: $color_white;

	@media (max-width: 991px) {
		padding: 40px 0;
	}

	& a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: $color_red;
		}
	}

	&__cols {
		@include flex;
		@include flex-wrap(wrap);
		margin: 0 -20px;

		@media (max-width: 991px) {
			@include justify-content(space-between);
			margin: 0;
		}
	}

	&__col {
		padding: 0 20px;
		width: 25%;

		@media (max-width: 991px) {
			padding: 0;
			width: 100%;
		}

		&._column {
			@include flex;
			@include flex-direction(column);
			@include justify-content(space-between);
			@include align-items(flex-start);
		}

		&._row-mobile {
			@media (max-width: 991px) {
				@include flex-direction(row);
				@include align-items(center);
				@include justify-content(space-between);
				@include order(1);
				margin-bottom: 30px;
			}
		}

		&._half-mobile {
			@media (max-width: 991px) {
				max-width: 50%;
				width: unset;
				@include order(3);
			}

			&._stretch {
				@media (max-width: 991px) {
					@include flex-grow(1);
				}
			}
		}

		&._contacts {
			@media (max-width: 991px) {
				@include order(2);
				margin-bottom: 30px;
			}
		}
	}

	&__logo {
		& svg {
			max-width: 100%;
			height: auto;

			@media (max-width: 991px) {
				width: 67px;
			}
		}
	}

	&__copyright {
		@include flex;
		@include flex-direction(column);
		@include align-items(flex-start);
		font-size: .72rem;
		padding-bottom: 20px;

		@media (max-width: 991px) {
			padding-bottom: 0;
			font-size: .66rem;
		}

		&:first-child {
			@media (max-width: 991px) {
				display: none;
			}
		}

		&:last-child {
			padding-bottom: 0;
		}

		& span {
			&._underline {
				text-decoration: underline;
			}
		}

		&._visible-mobile {
			display: none;

			@media (max-width: 991px) {
				@include flex;
				@include align-items(center);
				margin-top: 30px;
				font-size: .83rem;

				& span {
					margin-bottom: 5px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	&__list {
		font-size: .9rem;
		padding: 0;
		margin: 0;
		list-style: none;

		@media (max-width: 991px) {
			font-size: 1rem;
		}

		& li {
			margin-bottom: 15px;

			@media (max-width: 991px) {
				margin-bottom: 10px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__item {
		margin-bottom: 34px;

		@media (max-width: 991px) {
			margin-bottom: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		font-weight: bold;
		margin-bottom: 8px;

		@media (max-width: 991px) {
			display: none;
		}
	}

	&__link {
		@media (max-width: 991px) {
			color: $color_red !important;
		}
	}
}