.header {
	color: $color_lightBlack;

	&__cols {
		@include flex;
		@include align-items(center);
		@include justify-content(space-between);
		height: 198px;

		@media (max-width: 1199px) {
			height: 160px;
		}

		@media (max-width: 991px) {
			height: 95px;
		}
	}

	&__col {
		width: calc(50% - 172px);

		@media (max-width: 1199px) {
			width: calc(50% - 125px);
		}

		@media (max-width: 991px) {
			width: calc(50% - 69px);
		}

		&:nth-child(2) {
			min-width: 172px;
			max-width: 172px;

			@media (max-width: 1199px) {
				min-width: 125px;
				max-width: 125px;
			}

			@media (max-width: 991px) {
				min-width: 69px;
				max-width: 69px;
			}
		}

		&._items {
			@include flex;
			@include align-items(center);
			@include justify-content(flex-end);

			&._jcfs {
				@include justify-content(flex-start);
			}
		}
	}

	&__burger {
		@include flex;
		@include flex-direction(column);

		& span {
			width: 32px;
			height: 3px;
			margin-bottom: 9px;
			background: $color_lightBlack;

			@media (max-width: 991px) {
				width: 20px;
				height: 2px;
				margin-bottom: 6px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:nth-child(2) {
				width: 28px;

				@media (max-width: 991px) {
					width: 18px;
				}
			}
		}

		&:hover {
			& span {
				background: $color_red;
			}
		}
	}

	&__item {
		text-decoration: none;
		color: inherit;
		margin-right: 60px;

		@media (max-width: 1300px) {
			margin-right: 30px;
		}

		@media (max-width: 991px) {
			font-size: 0;
			margin-right: 25px;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $color_red;
		}

		& img {
			display: none;

			@media (max-width: 991px) {
				display: block;
			}
		}
	}

	&__logo {
		& svg {
			@media (max-width: 1199px) {
				height: 100px;
				width: auto;
			}

			@media (max-width: 991px) {
				height: 55px;
			}
		}
	}

	&__lang {
		color: $color_lightBlack;
		text-decoration: none;
		margin-left: 60px;

		@media (max-width: 991px) {
			margin-left: 30px;
		}

		&:hover {
			color: $color_red;
		}
	}
}