.poligraphy-people {

	&__content {
		max-width: 760px;
		width: 100%;
		margin: 0 auto;

		@media (max-width: 1199px) {
			max-width: 600px;
		}

		@media (max-width: 991px) {
			max-width: 100%;
		}
	}

	&__title {
		@include flex;
		@include flex-direction(column);

		& span {
			@media (max-width: 991px) {
				padding-left: 60px;
				padding-right: 60px;
			}

			@media (max-width: 767px) {
				padding-left: 50px;
				padding-right: 50px;
			}
		}
	}

	&__img {
		position: absolute;

		@media (max-width: 991px) {
			opacity: .2;
			width: 80% !important;
			top: 100px !important;
			bottom: unset;
		}

		@media (max-width: 575px) {
			width: 130% !important;
		}

		&._left {
			left: 0;
			top: 144px;
			width: 27%;

			@media (max-width: 575px) {
				left: -50px;
			}
		}

		&._right {
			right: 0;
			bottom: 120px;
			width: 25%;
			@include transform(rotate(-15deg));

			@media (max-width: 575px) {
				right: -200px;
			}
		}
	}
}